@font-face {
    src: url('../fonts/Roboto-Light.ttf');
    font-family: "Roboto";
}
@font-face {
    src: url('../fonts/Roboto-Medium.ttf');
    font-family: "Roboto500";
}

button:focus{
    outline: none;
}
html{
    margin: 0px;
}
body{
    margin: 0px;
}
.header{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    align-items: center;
}
@media screen and (min-width: 600px) {
    .header{
        margin-top: 30px;
    }
}
.header nav{
    display: none;
}
@media screen and (min-width: 600px) {
    .header nav{
        display: inline;
    }
    .header-right{
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }
    .header-right-nav a{
        font-family: 'Roboto';
        text-decoration: none;
        font-size: 16px;
        line-height: 19px;
        color: #1B1B1B;
        margin-top: 0px;
        margin-bottom: 0px;
        margin-left: 30px;
        margin-right: 0px;
    }
    
}
.header button{
    display: none;
}
@media screen and (min-width: 600px) {
    .header button{
        display: inline;
        margin-left: 45px;
    }
    .header-right-btn{
        margin-left: 40px;
        border: solid grey 1px;
        border-radius: 6px;
        background-color: white;
        font-family: 'Roboto500';
        font-size: 16px;
        line-height: 19px;
        color: #1B1B1B;
        padding: 10px 20px;
        cursor: pointer;
        margin-right: 40px;
    }
}
.header-logo{
    margin-left: 20px;
}
@media screen and (min-width: 600px) {
    .header-logo{
        margin-left: 40px;
    }
}
.header-right-burger{
    margin-right: 23;
}
@media screen and (min-width: 600px) {
    .header-right-burger{
        display: none;
    }
}
main{
    margin-top: 60px;
    margin-left: 20px;
    margin-right: 20px;
}
@media screen and (min-width: 600px) {
    main{
        margin-top: 110px;
        margin-left: 205px;
        margin-right: 205px;
    }
}
.main-img{
    display: flex;
    justify-content: center;
}
.main-img img{
    height: 202px;
    width: 242px;
}
@media screen and (min-width: 600px) {
    .main-img img{
        height: 300px;
        width: 360px;
    }
}
.main-section{
    margin-top: 40px;
}
@media screen and (min-width: 600px) {
    .main-section{
        margin-top: 60px;
    }
}
.main-section-text{
    text-align: center;
}
.main-section-text p{
    font-family: 'Roboto';
    Font-size: 16px;
    line-height: 147.3%;
    margin: 0px;
    margin-top: 10px;
}
@media screen and (min-width: 600px) {
    .main-section-text p{
        margin-top: 30px;
        font-size: 24px;
    }
}
h1{
    font-family: 'Roboto';
    font-size: 32px;
    line-height: 120%;
    color: #1B1B1B;
    margin: 0px;
    margin-top: 40px;
}
@media screen and (min-width: 600px) {
    h1{
        font-size: 64px;
        margin-top: 60px;
    }
}
.btn{
    cursor: pointer;
    margin-bottom: 15px;
    border: none;
    text-align: left;
    padding: 0px;
    padding-left: 20px;
    padding-right: 16px;
    padding-top: 14px;
    padding-bottom: 14px;
}
.main-section-questions{
    margin-top: 30px;
}
@media screen and (min-width: 600px) {
    .main-section-questions{
        margin-top: 60px;
    }
}
.main-section-questions button{
    background: #F7F7F8;
    border-radius: 6px;
    width: 100%;
}
@media screen and (min-width: 600px) {
    .main-section-questions button:hover{
        background-color: rgba(97, 161, 153, 0.15);
    }
}
.main-section-questions button span{
    font-family: 'Roboto';
    font-size: 14px;
    line-height: 147.3%;
    color: #1B1B1B;
}
@media screen and (min-width: 600px) {
    .main-section-questions button span{
        font-size: 20px;
    }
}
.arrowUp{
    display: none;
}

.answ{
    display: none;
}
.button-content{
    display: flex;
    justify-content: space-between;
}
.btn6{
    margin-bottom: 0px;
}
.answ{
    font-family: 'Roboto';
    font-size: 14px;
    line-height: 147.3%;
    color: #1B1B1B;
    margin: 0px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 30px;
}
@media screen and (min-width: 600px) {
    .answ{
        font-size: 20px;
        margin-bottom: 40px;
    }
}

.footer{
    margin-top: 50px;
    height: 125px;
    background: #3F3D56;
    display: flex;
    flex-direction: column;
}
@media screen and (min-width: 600px) {
    .footer{
        flex-direction: row;
        justify-content: space-between;
        margin-top: 120px;
    }
}
.footer span{
    margin-top: 30px;
    margin-left: 18px;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
    opacity: 0.4;
    font-family: 'Roboto';
}
@media screen and (min-width: 600px) {
    .footer span{
        font-size: 16px;
        margin: 0px;
        margin-left: 40px;
        margin-top: 53px;
        margin-bottom: 52px;
    }
}
.footer-socials{
    margin-top: 17px;
    margin-left: 23px;
}
@media screen and (min-width: 600px) {
    .footer-socials{
        margin: 0px;
        margin-right: 46px;
        margin-top: 46px;
        margin-bottom: 46px;
    }
}
.footer-socials a{
    margin-right: 19px;
    text-decoration: none;
}
@media screen and (min-width: 600px) {
    .footer-socials a{
        margin: 0px;
        margin-left: 16px;
    }
}