@font-face {
    src: url('../fonts/Roboto-Light.ttf');
    font-family: "Roboto";
}
@font-face {
    src: url('../fonts/Roboto-Medium.ttf');
    font-family: "Roboto500";
}

button:focus{
    outline: none;
}
html{
    margin: 0px;
}
body{
    margin: 0px;
}
.header{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    align-items: center;
}
@media screen and (min-width: 600px) {
    .header{
        margin-top: 30px;
    }
}
.header nav{
    display: none;
}
@media screen and (min-width: 600px) {
    .header nav{
        display: inline;
    }
    .header-right{
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }
    .header-right-nav a{
        font-family: 'Roboto';
        text-decoration: none;
        font-size: 16px;
        line-height: 19px;
        color: #1B1B1B;
        margin-top: 0px;
        margin-bottom: 0px;
        margin-left: 30px;
        margin-right: 0px;
    }
    
}
.header button{
    display: none;
}
@media screen and (min-width: 600px) {
    .header button{
        display: inline;
        margin-left: 45px;
    }
    .header-right-btn{
        margin-left: 40px;
        border: solid grey 1px;
        border-radius: 6px;
        background-color: white;
        font-family: 'Roboto500';
        font-size: 16px;
        line-height: 19px;
        color: #1B1B1B;
        padding: 10px 20px;
        cursor: pointer;
        margin-right: 40px;
    }
}
.header-logo{
    margin-left: 20px;
}
@media screen and (min-width: 600px) {
    .header-logo{
        margin-left: 40px;
    }
}
.burger{
    margin-right: 23;
}
@media screen and (min-width: 600px) {
    .burger{
        display: none;
    }
}
.main{
    padding: 0px 20px;
    margin-top: 60px;
}
@media screen and (min-width: 600px) {
    .main{
        padding-left: 237px;
        padding-right: 237px;
        margin-top: 111px;
    }
}
.main-img{
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
    margin-left: 54px;
    margin-right: 54px;
}
@media screen and (min-width: 600px) {
    .main-img{
        margin-bottom: 60px;
    }
}
.main-img img{
    height: 202px;
    width: 267px;
}
@media screen and (min-width: 600px) {
    .main-img img{
        height: 300px;
        width: 397px;
    }
}
h1{
    font-family: 'Roboto500';
    margin: 0px;
    font-size: 32px;
    line-height: 120%;
    text-align: center;
    color: #1B1B1B;
}
@media screen and (min-width: 600px) {
    h1{
        font-size: 64px;
    }    
}
p{
    font-family: 'Roboto';
    margin: 10px;
    font-size: 16px;
    line-height: 147.3%;
    text-align: center;
    color: #1B1B1B;
}
@media screen and (min-width: 600px) {
    p{
        font-size: 24px;
    }
    .main-aboutUs p{
        margin: 0px 20px;
    }
}
h2{
    font-family: 'Roboto500';
    font-size: 24px;
    line-height: 120%;
    text-align: center;
    color: #1B1B1B;
}
@media screen and (min-width: 600px) {
    h2{
        font-size: 48px;
    }
}
.main-contacts{
    margin-top: 40px;
    background-color: #F7F9FB;
    padding-top: 40px;
    padding-bottom: 40px;
    width: 100vw;
    margin-left: -20px;
}
@media screen and (min-width: 600px) {
    .main-contacts{
        margin-top: 80px;
        padding-bottom: 100px;
        padding-top: 80px;
        margin-left: -256px;
    }
}
.main-contacts h2{
    margin: 0px;
}
@media screen and (min-width: 600px) {
    .main-contacts-content{
        display: flex;
        justify-content: center;
    }
}
.main-contacts-content-email{
    margin-top: 20px;
}
@media screen and (min-width: 600px) {
    .main-contacts-content-email{
        margin-top: 43px;
        padding-right: 69px;
        border-right: solid #C8C8CF 1px;
    }
}
.main-contacts-content-phone{
    margin-top: 20px;
}
@media screen and (min-width: 600px) {
    .main-contacts-content-phone{
        margin-top: 43px;
        padding-left: 69px;
    }
}
.main-contacts-content-email-text{
    font-size: 12px;
    line-height: 147.3%;
    text-align: center;
    color: #4F4F4F;
    margin-bottom: 5px;
}
@media screen and (min-width: 600px) {
    .main-contacts-content-email-text{
        font-size: 14px;
        margin-bottom: 6px;
    }
}
.main-contacts-content-email-email{
    font-size: 14px;
    line-height: 147.3%;
    text-align: center;
    color: #000000;
    margin-top: 0px;
}
@media screen and (min-width: 600px) {
    .main-contacts-content-email-email{
        font-size: 20px;
    }
}
.main-contacts-content-phone-text{
    font-size: 12px;
    line-height: 147.3%;
    text-align: center;
    color: #4F4F4F;
    margin-bottom: 5px;
}
@media screen and (min-width: 600px) {
    .main-contacts-content-phone-text{
        font-size: 14px;
        margin-bottom: 6px;
    }
}
.main-contacts-content-phone-phone{
    font-size: 14px;
    line-height: 147.3%;
    text-align: center;
    color: #000000;
    margin-top: 0px;
}
@media screen and (min-width: 600px) {
    .main-contacts-content-phone-phone{
        font-size: 20px;
    }
}
.main-team{
    margin-top: 40px;
}
@media screen and (min-width: 600px) {
    .main-team{
        margin-top: 80px;
    }
}
.main-team h2{
    margin: 0px;
}
.main-team-names{
    display: grid;
    grid-template-columns: repeat(2, 160px);
    text-align: center;
    justify-content: center;
}
.desc{
    display: none;
}
@media screen and (min-width: 600px) {
    .main-team-names{
        display: none;
    }
    .desc{
        display: inline;
    }
    .first{
        display: flex;
        justify-content: center;
    }
    .first div{
        margin-left: 80px;
    }
    .first div:nth-child(1){
        margin-left: 0px;
    }
    .second{
        display: flex;
        justify-content: center;
    }
    .second div:nth-child(2){
        margin-left: 80px;
    }

}
.main-team-names div{
    margin-top: 30px;
}
@media screen and (min-width: 600px) {
    .main-team-names div{
        margin-top: 60px;
    }
}
.main-team-names img{
    height: 80px;
    width: 80px;
}
@media screen and (min-width: 600px) {
    .main-team-names img{
        height: 180px;
        width: 180px;
    }
}
.team-name{
    font-family: 'Roboto500';
    font-size: 16px;
    line-height: 147.3%;
    text-align: center;
    color: #000000; 
    margin-bottom: 8px;
}
@media screen and (min-width: 600px) {
    .team-name{
        font-size: 20px;
    }
}
.team-profession{
    font-size: 12px;
    line-height: 147.3%;
    text-align: center;
    color: #828282;
    margin-top: 0px;
}
@media screen and (min-width: 600px) {
    .team-profession{
        font-size: 14px;
    }
}

.footer{
    margin-top: 60px;
    height: 125px;
    background: #3F3D56;
    display: flex;
    flex-direction: column;
}
@media screen and (min-width: 600px) {
    .footer{
        flex-direction: row;
        justify-content: space-between;
        margin-top: 120px;
    }
}
.footer span{
    margin-top: 30px;
    margin-left: 18px;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
    opacity: 0.4;
    font-family: 'Roboto';
}
@media screen and (min-width: 600px) {
    .footer span{
        font-size: 16px;
        margin: 0px;
        margin-left: 40px;
        margin-top: 53px;
        margin-bottom: 52px;
    }
}
.footer-socials{
    margin-top: 17px;
    margin-left: 23px;
}
@media screen and (min-width: 600px) {
    .footer-socials{
        margin: 0px;
        margin-right: 46px;
        margin-top: 46px;
        margin-bottom: 46px;
    }
}
.footer-socials a{
    margin-right: 19px;
    text-decoration: none;
}
@media screen and (min-width: 600px) {
    .footer-socials a{
        margin: 0px;
        margin-left: 16px;
    }
}